// Colors
$main-orange: #f96233;
$main-grey: #737373;
$main-light-grey: #96928b;
$main-dark: #242424;

// Sizes
$border-radius: 25px;
$header-height: 60px;

// Fonts
$montserrat: 'Montserrat-Regular', sans-serif;

// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  // Extra small screen / phone
        xs: 0,
  // Small screen / phone
        sm: 544px,
  // Medium screen / tablet
        md: 768px,
  // Large screen / desktop
        lg: 992px,
  // Extra large screen / wide desktop
        xl: 1200px
) !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
        sm: 576px,
        md: 720px,
        lg: 940px,
        xl: 1140px
) !default;
