.input-field {
  border: 1.5px solid transparent;
  background: transparentHexa(white, .1);
  padding: 0 15px;
  @include css3-prefix('border-radius', $border-radius);

  &:hover,
  &.active {
    border: 1.5px solid $main-orange;
  }

  .input-group-addon {
    background: none;
    border: 0;
    border-radius: 0;
    box-shadow: none;

    img {
      width: 20px;
      height: 20px;
    }
  }

  .form-control {
    background: none;
    border: 0;
    box-shadow: none;
    color: white;

    padding: 12px;
    height: 40px;

    &:active,
    &:active:hover {
      box-shadow: none;
      outline: none;
    }

    &::-webkit-input-placeholder {
      color: white;
    }

    &:-moz-placeholder {
      color: white;
      opacity: 1;
    }

    &::-moz-placeholder {
      color: white;
      opacity: 1;
    }

    &:-ms-input-placeholder {
      color: white;
    }
  }

}