.comment-list {
  padding-top: 25px;
}

.comment-header {
  background: $main-orange;
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  h1 {
    margin: 0;
    text-transform: uppercase;
    display: inline-block;
  }

  .comment-type-control {
    float: right;
    display: inline-block;
    .btn {
      display: inline-block;
      width: 100px;
    }
  }
}

.comment {
  border-bottom: 1.5px solid $main-light-grey;
  padding: 40px 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  .img-container {
    flex: 0 0 75px;

    img {
      width: 50px;
      height: 50px;
    }
  }

  .comment-body {
    flex-grow: 1;

    .comment-name {
      font-weight: bold;
    }

    p {
      margin: 0;
    }
  }

  .comment-detail {
    flex: 0 0 200px;

    img {
      width: 18px;
      height: 18px;
      margin: 0 10px;
    }
  }

  &.write-comment {
    border: 0;

    .comment-body {
      margin-right: 20px;
    }

    .btn {
      width: 100%;
      img {
        margin: 0 10px 0 0;
      }
    }
  }
}