html {
  min-height: 100%;
}

body {
  min-height: 100%;
  padding-top: $header-height;
  font-family: $montserrat;
}

.row {
  margin: 0;
}

.page {
}

.align-right {
  text-align: right;
}

a {
  cursor: pointer;
  &:hover {
    color: $main-orange;
  }
}

.full-height {
  min-height: calc(100vh - 60px);
}

.toolbar-shadow {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}