<footer>
    <div class="container">
        <div class="col-xs-6">
            <ul>
                <li><a>About us</a></li>
                <li><a>Terms & Conditions</a></li>
                <li><a>Privacy Policy</a></li>
            </ul>
        </div>

        <div class="col-xs-6 align-right">
            <img src="img/facebook.svg" alt="facebook">
            <img src="img/twitter.svg" alt="facebook">
            <img src="img/instagram.svg" alt="facebook">

            &copy; 2017 All rights reserved.
        </div>
    </div>
</footer>