<div class="hamburger-icon">
    <a id="nav-toggle" href="javascript:void(0)" ng-click="navToggle(); mainCtrl.toggleActiveHamburgerMenu();"><span></span></a>
</div>
<div id="menu-main" class="hamburgermenu">
    <div class="content">
        <ul>
            <li class="menu-item">
                <a ui-sref="main.home">
                    <img src="img/list.svg" alt="">News
                </a>
            </li>
            <!--<li class="menu-item disabled">
                <a>
                    <img src="img/logo.svg" alt="">Channels
                </a>
            </li>
            <li class="menu-item disabled">
                <a>
                    <img src="img/logo.svg" alt="">Bookmarks</a>
            </li>-->
            <li class="menu-item disabled">
                <a>
                    <img src="img/overview.svg" alt="">Overview</a>
            </li>
            <li class="menu-item disabled">
                <a>
                    <img src="img/calendar.svg" alt="">Calendar</a>
            </li>
            <!--<li class="menu-item disabled">
                <a>
                    <img src="img/logo.svg" alt="">Timeline</a>
            </li>-->
            <li class="menu-item disabled">
                <a>
                    <img src="img/user.svg" alt="">Profile</a>
            </li>
            <li class="menu-item">
                <a ui-sref="main.widgets">
                    <img src="img/widgets.svg" alt="">Widgets</a>
            </li>
            <li class="menu-item disabled">
                <a>
                    <img src="img/settings.svg" alt="">Settings</a>
            </li>
            <li class="menu-item">
                <a ui-sref="main.contact">
                    <img src="img/contact.svg" alt="">Contact us
                </a>
            </li>
            <!--<li class="menu-item disabled">
                <a>
                    <img src="img/logo.svg" alt="">Terms</a>
            </li>-->
        </ul>
    </div>
    <div class="logout">
        <ul>
            <li class="menu-item">
                <a>
                    <img src="img/logo.svg" alt="">logout</a>
            </li>
        </ul>
    </div>
</div>
<div class="black hidden"></div>
