<div class="page">
    <div ng-repeat="article in mainCtrl.articleFeed  track by $index" ng-class="{'row': $odd}">
        <article-feed data="article" data-index="$index" data-landscape="$even && $last"></article-feed>
    </div>

</div>

<!--
<div class="page">
    <div class="row">
        <div class="col-xs-12 col-sm-6 article article-one" ui-sref="main.article({id:1})">
            <article>
                <h1>Title</h1>

                <span class="rss">SPACE.com</span>
                <span class="date">20m ago</span>
                <span class="channel">science</span>
            </article>
        </div>

        <div class="col-xs-12 col-sm-6 article article-two">
            <div class="row">
                <div class="col-xs-6 article right-arrow">
                    <article>
                        <h1>Title</h1>

                        <span class="rss">SPACE.com</span>
                        <span class="date">20m ago</span>
                        <span class="channel">science</span>
                    </article>
                </div>
                <div class="col-xs-6 city article">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 article article-two">
            <div class="row">
                <div class="col-xs-6 city article">
                </div>
                <div class="col-xs-6 article left-arrow">
                    <article>
                        <h1>Title</h1>

                        <span class="rss">SPACE.com</span>
                        <span class="date">20m ago</span>
                        <span class="channel">science</span>
                    </article>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 article article-one">
            <article>
                <h1>Title</h1>

                <span class="rss">SPACE.com</span>
                <span class="date">20m ago</span>
                <span class="channel">science</span>
            </article>
        </div>
    </div>

</div>-->
