<div class="login">
    <div class="container">

        <div class="logo-contanier">
            <img src="img/login_logo.svg" alt="now" class="logo">
        </div>

        <form class="form-signin">
            <input-field data-type="text" data-placeholder="Username" data-autofocus="true" data-img-src="user.svg"></input-field>

            <input-field data-type="password" data-placeholder="Password" data-img-src="padlock.svg"></input-field>

            <button class="btn btn-lg btn-primary btn-block" type="submit" ui-sref="main.home">Sign in</button>

            <div class="controls">
                <div class="col-xs-6">
                    <a href="javascript:void(0)">Create Account</a>
                </div>
                <div class="col-xs-6 align-right">
                    <a href="javascript:void(0)">Need help?</a>
                </div>
            </div>
        </form>
    </div>
</div>
